@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --bg-color-1: #BCEBED;
  --bg-color-2: #8BD9DC;
  --bg-color-3: #7DD3CB;
  --quote-text-color: #175950;
  --root-fs: 16px;
  --ratio: 0.75;
  --p-fs: var(--root-fs);
  --h1-fs: calc(var(--root-fs) * 3);
  --h2-fs: calc(var(--h1-fs) * var(--ratio));
  --h3-fs: calc(var(--h2-fs) * var(--ratio));
  --h4-fs: calc(var(--h3-fs) * var(--ratio));

  --size-3: 1rem;
  --size-6: 1.75rem;
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html.sr .load-hidden{
  visibility: hidden;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color-);
}

h1{
  font-size: var(--h1-fs);
  margin-bottom: var(--size-6);
  text-align: center;
}

h2{
  font-size: var(--h2-fs);
  margin-bottom: var(--size-6);
  text-align: center;
}

h3{
  font-size: var(--h4-fs);
  margin-top: var(--size-3);
  margin-bottom: var(--size-3);
}

p{
  font-size: var(--p-fs);
  margin-top: var(--size-3);
  line-height: 150%;
}

.text-content-container p, .text-content-container h3, .text-content-container ul, .special-case-text p, .special-case-text h3, .special-case-text ul{
  margin-left: var(--size-fluid-1);
  margin-right: var(--size-fluid-1);
}

ul{
  margin-bottom: var(--size-3);
  margin-top: var(--size-3);
}

li{
  font-size: var(--p-fs);
  line-height: 150%;
  margin-left: 3rem;
}

.text-center{
  text-align: center;
}

/* Content related */

#journey-area .slide:nth-child(2n){
  position: relative;
}

#journey-area .slide:nth-child(2n)::before{
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-1);
  z-index: -9000;
}

.slide{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slide-zero{
  /* min-height: 100vh; */
}

.content-container{
  max-width: 1920px;
}

.text-content-container, .img-row, .text-side-img{
  margin: 0 var(--size-fluid-3);
  margin-top: var(--size-3);
}

.center-grid{
  display: grid;
  place-content: start center;
}

.quote-block p {
  font-size: var(--h4-fs);
  color: var(--quote-text-color);
  text-align: center;
}

p.quote{
  font-weight: 600;
}

.quote-block{
  display: grid;
  place-items: center;
  margin: var(--size-6);
}


/* Display */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

img, .img{
  width: 100vw;
}

.img-row img{
  width: 30vw;
}

#two-svg{
  width: 80vw;
}

/* Control group */
.slide-control{
  position: fixed;
  bottom: 40%;
  height: auto;
  z-index: 9000;
  -ms-overflow-style: none;
  scrollbar-width: none;
  visibility: hidden;
}

.slide-control::-webkit-scrollbar{
  display: none;
}

.slide-control a{
  color: initial;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.control-item{
  border: solid black 4px;
  border-radius: 100%;
  display: grid;
  place-content: center;
  aspect-ratio: 1/1;
  min-width: 44px;
  padding: 0.4rem;
  margin: 0.5rem;
  background-color: hsla(0, 0%, 100%);
}

.control-item:hover, a:focus-within .control-item, .control-item.active{
  background-color: var(--bg-color-1);
  cursor: pointer;
  font-weight: bold;
}

#globe-container{
  position: relative;
  height: 60vw;
}

#decor-line{
  position: absolute;
  width: 100%;
  z-index: -8000;
  display: flex;
  align-items: center;
}

#decor-line img{
  width: 100%;
  margin: auto;
}



/* Desktop style */
@media only screen and (min-width: 1024px) {
  #globe-container{
    height: max(600px, 35vw);
  }

  #decor-line{
    top: -9rem;
  }

  #decor-line img{
    width: 80%;
  }

  .slide{
    padding: 4rem 0;
  }
  
  .content-container{
    margin: auto;
  }

  
  #slide-two .content-container{
    width: 100%;
  }

  .text-content-container, .img-row, .text-side-img{
    margin: 0 var(--size-fluid-6);
  }

  .img-row, .img-reveal{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .text-content-container p, .text-content-container h3, .text-content-container ul, .special-case-text p, .special-case-text h3, .special-case-text ul{
    margin-left: var(--size-fluid-6);
    margin-right: var(--size-fluid-6);
  }

  .col-layout{
    justify-content: space-around;
    gap: 1.5rem;
    flex-direction: row;
  }

  .text-content-container:is(.col-layout) p, .text-content-container:is(.col-layout) h3, .text-content-container:is(.col-layout) ul{
    margin-left: auto;
    margin-right: auto;
  }

  .col{
    flex: 1 1 0px;
    width: 0;
  }

  img, .img{
    width: 50em;
  }

  #two-svg{
    width: 35em;
  }

  .col img, col .img{
    width: auto;
  }

  .slide-control{
    /* visibility: visible; */
  }
}

@media only screen and (min-width: 1700px){
  #decor-line img{
    width: 60%;
  }
  #globe-container{
    height: max(600px, 15vw);
  }
  #slide-two .content-container p, #slide-two .content-container ul{
    margin-left: var(--size-fluid-6);
  }
}
